@layer states {
  :host(:state(drop-target)) .dropzone {
    background: var(--_accent-surface);

    & .dropzone-outline rect {
      stroke: var(--_accent);
    }
  }

  :host(:state(aiming)) {
    cursor: grabbing;

    & .card {
      cursor: grabbing;
    }
  }

  :host(:state(aiming)),
  :host(:state(flying)) {
    user-select: none;
  }

  :host(:state(disabled)) {
    & .frame {
      cursor: not-allowed;
    }

    & .dropzone,
    & .card {
      filter: grayscale(1);
      opacity: 0.55;
    }
  }
}
